body{
  text-align: center;
}

.container {
  border: solid 3px blue;
  font-family: 'Roboto' sans-serif;
  border-radius: 15px;
  width: 400px;
  padding: 10px;
  margin: auto;
  display: block;
  background-color: lime;
  margin-bottom: 20px;
}

.inputBlock {
  border: solid 3px lime;
}
.result{
  font-size: 2em;
}

#result{
  font-weight: bold;
}

a{
  font-size: 2em;
  color: white;
  border: solid black 2px;
  padding: 10px;
  background-color: lime;
  text-decoration: none;
}

a:hover{
  background-color: lime;
}
